.navigateur-projet {
  gap: 1.5rem;
}

.filtres {
  z-index: 5;
}

.filtre-btn {
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  background: var(--tag-text);
  color: var(--tag-bg);
  font-size: 0.9rem;
  box-shadow:
    4px 4px 8px #0002,
    -4px -4px 8px #fff1;
  transition:
    transform 0.2s,
    background 0.2s;
}
.filtre-btn:hover {
  transform: translateY(-2px);
  background: var(--accent);
  color: white;
}
.filtre-btn.active {
  background: var(--tag-bg);
  color: var(--tag-text);

  font-weight: bold;
}

.projets-grid {
}

.empty {
  text-align: center;
  opacity: 0.7;
  font-style: italic;
}
